audio-metadata==0.11.1
Pillow==9.4.0
https://github.com/jiaaro/pydub/archive/996cec42e9621701edb83354232b2c0ca0121560.tar.gz
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
PyQt6==6.4.0
PyQt6-QScintilla==2.13.3
PyQt6-Qt6==6.4.1
PyQt6-sip==13.4.0
qt6-applications==6.1.0.2.2
qt6-tools==6.1.0.1.2
tbm-utils==2.6.0
pyBIG==0.1.4
darkdetect==0.8.0
