Pillow
pyinstaller
pyinstaller-hooks-contrib
PyQt6
PyQt6-QScintilla
PyQt6-Qt6
PyQt6-sip
qt6-applications
qt6-tools
tbm-utils
pyBIG
watchdog
pyqtdarktheme
qt-material
ruff
PyOpenGL
PyOpenGL_accelerate
webbrowser
moddb
requests
platformdirs
numpy