Pillow
pyinstaller
pyinstaller-hooks-contrib
PyQt6
PyQt6-QScintilla
PyQt6-Qt6
PyQt6-sip
qt6-applications
qt6-tools
tbm-utils
pyBIG
watchdog
pyqtdarktheme
ruff
PyOpenGL
PyOpenGL_accelerate
webbrowser
moddb
requests
git+https://github.com/el1s7/curl-adapter.git -U --ignore-installed
platformdirs